.dm-channels-container {
    margin-top: 2rem;

    .dm-channels-headline {
        p {
            color: white;
            margin-left: 30.5px;
        }
    }

    .material-icons {
        font-size: 20px;
    }

    .mat-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        margin-right: 0.5rem;
    }

    .dm-channel-add {
        display: flex;
        align-items: center;
        margin-top: 1rem;
        cursor: pointer;

        p {
            margin: 0;
            color: white;
        }
    }
}