.dm-channels-container {
    margin: 2rem 0;

    .channels-list {
        display: flex;
        align-items: center;
        color: white;
        margin-bottom: 0.5rem;
        border-radius: 8px;

        &:hover {
            background-color: #6698C8;
            padding-left: 8px;
        }

        .single-channel {
            margin: 0 0 0 8px;
            cursor: pointer;
            width: 100%;
        }
    }

    .dm-channels-headline {
        p {
            color: white;
            font-size: 20px;
        }
    }

    .dm-channel-add {
        display: flex;
        align-items: center;
        color: white;
        margin-top: 2rem;
        cursor: pointer;

        p {
            margin: 0;
            color: white;
        }
    }
}

.channels-list {
    display: flex;
    align-items: center;
    color: white;
    margin-bottom: 0.5rem;
    border-radius: 8px;

    &:hover {
        background-color: #6698C8;
        padding-left: 8px;
    }

    .single-channel {
        margin: 0 0 0 8px;
        cursor: pointer;
        width: 100%;
    }
}

