<div class="dm-channels-container">
    <div class="dm-channels-headline">
        <p>Directmessages</p>
    </div>

    <div class="channels-list" *ngFor="let dmChannel of this.dmChannelService.allDmChannels">
        <div class="chat-icon">{{ getUserInitialsById(dmChannel['otherUserId']) }}
            <div class="online-dot {{ getUserOnlineStatus(dmChannel['otherUserId']) }}"></div>
        </div>
        <p [routerLink]="['dm-channel-chatroom/' + dmChannel['dmChannelId']]" class="single-channel">{{
            getUsernameById(dmChannel['otherUserId']) }} {{ getUserStatusById(dmChannel['otherUserId']) }}</p>
    </div>

    <div (click)="openAddDmChannelDialog()" class="dm-channel-add">
        <mat-icon>add</mat-icon>
        <p>New Directmessage</p>
    </div>
</div>