<div class="channels-container">
    <div class="channels-headline">
        <p>Channels</p>
    </div>

    <div class="channels-list">
        <mat-icon>tag</mat-icon>
        <p class="single-channel">Angular</p>
    </div>
    <div class="channels-list">
        <mat-icon>tag</mat-icon>
        <p class="single-channel">JavaScript</p>
    </div>
    <div class="channels-list">
        <mat-icon>tag</mat-icon>
        <p class="single-channel">Vorstellrunde</p>
    </div>

    <div (click)="createNewChannel()" class="add-channel">
        <mat-icon>add</mat-icon>
        <p>Add Channels</p>
    </div>
</div>