main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.back-to-login-button {
    position: absolute;
    top: 16px;
    left: 32px;
}

mat-card {
    padding: 32px;
}

mat-form-field {
    padding-bottom: 20px;
}

.introduction {
    margin-bottom: 32px;
    color: #5e5e5e;
}

form {
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1 {
        width: 100%;
        text-align: left;
    }

    button, mat-form-field {
        width: -webkit-fill-available;
    }

    button {
        margin: 5px 0;

        &[mat-button] {
            width: auto;
        }
    }

    .aligned-to-right {
        text-align: right;
        width: 100%;
    }
}

.input-icon {
    width: auto !important;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}

.move-right {
    margin-right: -12px !important;
}

.name-input {
    width: 100%;
    display: flex;
    justify-content: space-between;

    mat-form-field {
        width: 45%;
    }
}