main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #3f51b5;
}

.introduction {
    margin-bottom: 32px;
    color: #5e5e5e;
}

mat-card {
    padding: 0 32px 32px 32px;
}

mat-form-field {
    padding-bottom: 10px;
}

form {
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1 {
        width: 100%;
        text-align: left;
    }

    button, mat-form-field {
        width: -webkit-fill-available;
    }

    button {
        margin: 5px 0;

        &[mat-button] {
            width: auto;
        }
    }

    .aligned-to-right {
        text-align: right;
        width: 100%;
    }
}

.input-icon {
    width: auto !important;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}

.move-right {
    margin-right: -12px !important;
}

.continue-container {
    display: flex;
    align-items: center;
    height: 56px;
    margin: 32px 0;
    color: #5e5e5e;

    hr {
        width: 80px;
        height: 1px;
        background-color: #5e5e5e;
    }
}

.guest-login-container {
    display: flex;
    justify-content: center;

    button {
        width: 150px;
    }
}