.imprint-container {
    background-color: #28313d;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding-left: 16px;
    padding-right: 16px;

    .back-to-page {
        color: darkgray;
        position: absolute;
        top: 2rem;
        right: 5rem;
        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }

    h1 {
        color: darkgray;
        font-size: 4rem;
    }

    p {
        color: lightgray;
        font-size: 18px;
    }

    strong {
        color: darkgray;
        font-size: 24px;
    }
}
