<div class="dm-channel-dialog-container">

    <mat-icon class="close-icon" (click)="closeDialog()">close</mat-icon>

    <div class="dialog-headline">
        <h1>Start a new private conversation</h1>
    </div>

    <div class="dialog-description">
        <p>Select a user for your conversation.</p>
    </div>

    <form [formGroup]="selectUser">
        <div class="dialog-input">
            <mat-form-field appearance="fill">
                <mat-label>Users</mat-label>
                <mat-select>
                    <!--<mat-option *ngFor="let user of users">
                        {{user.name}}
                    </mat-option>-->
                </mat-select>
            </mat-form-field>
        </div>

        <div class="button-container">
            <button class="create-button" type="submit" mat-raised-button [disabled]="">Create</button>

        </div>

    </form>

    <div class="button-container">
        <button mat-raised-button class="create-button">Start conversation <span>with </span></button>
    </div>

</div>