<div class="dm-channel-dialog-container">

    <mat-icon class="close-icon" (click)="closeDialog()">close</mat-icon>

    <div class="dialog-headline">
        <h1>Start a new private conversation</h1>
    </div>

    <div class="dialog-description">
        <p>select with which user you want to start a new private conversation.</p>
    </div>

    <mat-form-field class="select-user" appearance="fill">

            <p>Select a user TEST</p>

    </mat-form-field>

    <div class="button-container">
        <button mat-raised-button class="create-button">Start conversation <span>with </span></button>
    </div>

</div>