<div class="channel-dialog-container">

    <mat-icon class="close-icon" (click)="closeDialog()">close</mat-icon>

    <div class="dialog-headline">
        <h1>Add Channels</h1>
    </div>

    <div class="dialog-description">
        <p>Channels are used by your team to communicate. Ideally, they should be topic-related - #marketing for example.
            example.</p>
    </div>

    <form #channelForm="ngForm">
        <div class="dialog-input">
            <label>Name</label>
            <input name="channelName" type="text" [(ngModel)]="channelName">
        </div>
    
        <div class="button-container">
            <button class="create-button" mat-raised-button (click)="createChannel()">Create</button>

        </div>
    
    </form>

    
</div>